<a href="https://colab.research.google.com/github/EllaThomasson/DS-4002-copy/blob/main/Hot_Dog_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/EllaThomasson/DS-4002-copy

Cloning into 'DS-4002-copy'...
remote: Enumerating objects: 643, done.
remote: Counting objects: 100% (179/179), done.
remote: Compressing objects: 100% (106/106), done.
remote: Total 643 (delta 156), reused 73 (delta 73), pack-reused 464 (from 3)
Receiving objects: 100% (643/643), 3.49 MiB | 5.68 MiB/s, done.
Resolving deltas: 100% (362/362), done.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/DS-4002-copy/hot-dog-survey-data/hot_dog_survey_spring25.csv')

In [8]:
df.head()

,Timestamp,Do you believe that a hotdog falls under the category of a sandwich?,What is the rationale behind your opinion?,Are you currently enrolled as an undergraduate or graduate student at the University of Virginia?,What is your field of study or major?,What state or country were you born in?,"If you are an undergraduate, what is your current academic year?",Gender: How do you identify?,"You preferred to self-describe for gender; please, share your identity below"
0,1/15/2025 21:53:05,No,The content inside isn’t covered u can see the...,Yes,Applied statistics with data science conc + da...,"VA, USA",Third year,Woman,NaN
1,1/15/2025 21:53:51,No,"Sandwich bread is two separate slices, hotdog ...",Yes,Economics/Pre-Comm,"Virginia, United States of America",Second year,Woman,NaN
2,1/15/2025 21:54:43,No,the bread is connected,Yes,biology,virginia,Third year,Woman,NaN
3,1/15/2025 21:56:43,Yesss,It is a piece of meat encapsulated by bread! I...,Yes,Biology and Psychology,Virginia,Fourth year,Woman,NaN
4,1/15/2025 21:57:59,NO,A hot dog is not a sandwich because its openin...,Yes,Nursing,Virginia,Second year,Woman,NaN

Changing Names

In [13]:
df = df.rename(columns={'Do you believe that a hotdog falls under the category of a sandwich?': 'Sandwich?'})
df = df.rename(columns={'What is the rationale behind your opinion?': 'Reason'})
df = df.rename(columns={'Are you currently enrolled as an undergraduate or graduate student at the University of Virginia?': 'Student Status'})
df = df.rename(columns={'What is your field of study or major?': 'Major'})
df = df.rename(columns={'What state or country were you born in?': 'State Born'})
df = df.rename(columns={'If you are an undergraduate, what is your current academic year?': 'Year at School'})
df = df.rename(columns={'Gender: How do you identify?': 'Gender'})
df = df.rename(columns={'You preferred to self-describe for gender; please, share your identity below': 'Gender Description'})

In [14]:
df.head()

,Timestamp,Sandwich?,Reason,Student Status,Major,State Born,Year at School,Gender,Gender Description
0,1/15/2025 21:53:05,No,The content inside isn’t covered u can see the...,Yes,Applied statistics with data science conc + da...,"VA, USA",Third year,Woman,NaN
1,1/15/2025 21:53:51,No,"Sandwich bread is two separate slices, hotdog ...",Yes,Economics/Pre-Comm,"Virginia, United States of America",Second year,Woman,NaN
2,1/15/2025 21:54:43,No,the bread is connected,Yes,biology,virginia,Third year,Woman,NaN
3,1/15/2025 21:56:43,Yesss,It is a piece of meat encapsulated by bread! I...,Yes,Biology and Psychology,Virginia,Fourth year,Woman,NaN
4,1/15/2025 21:57:59,NO,A hot dog is not a sandwich because its openin...,Yes,Nursing,Virginia,Second year,Woman,NaN

Assessing Column Values

In [17]:
df.value_counts("Sandwich?")

Sandwich?
No           29
Yes          13
NO            3
YES           3
N             2
No            2
Yes           2
no            2
yes           2
Noooo         1
Nope          1
Y             1
Yeah          1
Yesss         1
Yesssssss     1
Name: count, dtype: int64

In [18]:
df.value_counts("Student Status")

Student Status
Yes    58
No      6
Name: count, dtype: int64

In [19]:
df.value_counts("Major")

Major
Nursing                                                            2
Computer science                                                   2
Psychology                                                         2
computer science                                                   2
biology                                                            2
Computer Science                                                   2
Systems Engineering                                                2
Nursing                                                            1
Physics + Mathematics                                              1
Political Science & Global Health                                  1
Politics with a Concentration in government                        1
Pre Med                                                            1
Pre-Law                                                            1
Public Policy & Leadership                                         1
Public policy                                                      1
Statistics                                                         1
Applied Statistics                                                 1
Mechanical engineering/mathematics/computer science                1
astrophysics                                                       1
econ                                                               1
international relations global business                            1
kine                                                               1
materials science and engineering                                  1
math                                                               1
neuro + applied stats                                              1
psychology                                                         1
undecided                                                          1
architecture                                                       1
Mechanical engineering                                             1
Applied statistics with data science conc + data science minor     1
Comp Sci + DS minor                                                1
Astronomy                                                          1
Biochemistry                                                       1
Biochemistry                                                       1
Biological Sciences                                                1
Biology                                                            1
Biology and Psychology                                             1
Biology and behavioral neuroscience                                1
Biomedical engineering                                             1
Commerce                                                           1
Commerce                                                           1
Computer Science                                                   1
Mechanical and Aerospace Engineering                               1
Computer Science and Economics                                     1
Cs                                                                 1
East Asian studies                                                 1
Economics                                                          1
Economics and Computer Science                                     1
Economics/Pre-Comm                                                 1
Engineering                                                        1
German & Global Studies                                            1
Mathematics                                                        1
Mechanical Engineering                                             1
women gender and sexuality studies                                 1
Name: count, dtype: int64

In [20]:
df.value_counts("State Born")

State Born
Virginia                              17
VA                                     3
Virginia                               3
US                                     3
Illinois                               3
Virginia, USA                          2
United States                          2
maryland                               2
Florida                                2
mauritius                              1
Vietnam                                1
lithuania                              1
california                             1
Virginia, United States of America     1
nj                                     1
pennsylvania, usa                      1
va                                     1
virginia                               1
America                                1
Usa                                    1
VA, USA                                1
CA                                     1
USA                                    1
U.S.                                   1
Russia                                 1
Ohio, USA                              1
Ny                                     1
North Carolina                         1
Massachusetts                          1
Louisiana                              1
Ghana                                  1
DC, United States                      1
Colorado                               1
virginia, u.s                          1
Name: count, dtype: int64

In [21]:
df.value_counts("Year at School")

Year at School
Fourth year    25
Third year     16
Second year     9
First year      5
Name: count, dtype: int64

In [22]:
df.value_counts("Gender")

Gender
Woman                      35
Man                        22
Non-binary                  4
Prefer not to answer        1
Prefer to self-describe     1
Name: count, dtype: int64

In [23]:
df.value_counts("Gender Description")

Gender Description
Female     1
She her    1
agender    1
Name: count, dtype: int64

Cleaning the "sandwich" variable

In [24]:
df['Sandwich?'] = df['Sandwich?'].str[0]
df['Sandwich?'] = df['Sandwich?'].str.upper()

df.value_counts("Sandwich?")

Sandwich?
N    40
Y    24
Name: count, dtype: int64